@media (min-width: 640px) {
    .masonry {
        column-count: 1;
    }
}

@media (min-width: 1024px) {
    .masonry {
        column-count: 2;
    }
}

@media (min-width: 1280px) {
    .masonry {
        column-count: 3;
    }
}

@media (min-width: 1536px) {
    .masonry {
        column-count: 8;
    }
	.container {
		max-width: 3234px;
	}
}

@media (min-width: 1920px) {
    .masonry {
        column-count: 5;
    }
}

@media (min-width: 2560px) {
    .masonry {
        column-count: 5;
    }
}

@media (min-width: 3200px) {
    .masonry {
        column-count: 5;
    }
}

@media (min-width: 3840px) {
    .masonry {
        column-count: 5;
    }
}

.masonry {
    column-gap: 1rem; /* Space between columns */
}

.item {
    break-inside: avoid;
    margin-bottom: 1rem; /* Space between rows */
    background-color: white; /* Uniform color for all boxes */
    padding: 1rem; /* Padding for the list */
}

.glow {
    text-shadow: 0 0 20px rgba(28, 100, 242, 0.8);
}

ul {
    list-style-type: disc; /* Visible bullets */
    padding-left: 1.5rem; /* Indentation for bullets */
}

.emoji {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
.emoji:hover {
    transform: scale(1.5);
}

.hidden {
	display:none;
}

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 5px;
	display: none;
	font-size: 1.7rem;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.minimized-feed-list {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 5px;
	display: none;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.minimized-feed-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.minimized-feed-list li {
	border: 1px solid white;
	padding: 5px;
	margin: 5px 0;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}

.minimized-feed-list li:hover {
	background-color: white;
	color: black;
}

.toggle-shade-box {
	cursor: pointer;
	font-size: 1.7rem;
}

.toggle-minimized-feed-list {
	cursor: pointer;
	font-size: 1.7rem;
}